*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
p{
color: rgb(0, 0, 0);
}
body{
background-image: url(../img/vbysmR.gif);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.tarjetas{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
min-height: 100px;
background-color: rgb(1, 36, 34);
}
.card{
position: relative;
width: 300px;
height: 350px;
margin: 20px;
}
.card .face{
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border-radius: 10px;
overflow: hidden;
transition: 0.5s;
}
.card .front{
transform: perspective(600px) rotatey(0deg);
box-sizing: 0 5px 10 rgb(3, 3, 3);
}
.card .front img{
position: relative;
width: 300px;
height: 350px;
object-fit: cover;
}
.card .front h3{
position: absolute;
bottom: 0;
width: 100%;
height: 45px;
line-height: 45px;
color: white;
background: rgb(173, 6, 6);
text-align: center;
}
.card .back{
transform: perspective(600px) rotatey(180deg);
background: rgb(255, 255, 255);
padding: 15px;
color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
}
.card .back .link{
border-top: solid 1px rgb(58, 7, 177) ;
height: 50px;
line-height: 50px;
color: rgb(228, 18, 18);
}
.card .back h3{
font-size: 30px;
margin-top: 20px;
letter-spacing: 2px;
}
.card .back p{
letter-spacing: 1px;
text-align: justify;
}
.card:hover .front{
transform: perspective(600px) rotatey(180deg);
}
.card:hover .back{
transform: perspective(600px) rotatey(360deg);
}
header{
display: flex;
justify-content: space-between;
height: 150px;
background-color: rgb(18, 18, 58);
align-items: center;
padding: 0px;
}
body{
font-family: cursive;
margin: 0;
}
.logito{
display: flex;
align-items: center;
}
form{
padding: 50px;
width: 420px;
display: flex;
flex-direction: column; 
background-color: rgb(1, 23, 29);  
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;

}
h2{
color:brown ;
font-family: cursive;
}
label{
font-size: 15px;
color: aliceblue;
margin-bottom: 15px;
}
.box{
background-color: rgb(188, 225, 226);
padding: 15px;
border-radius: 50px;
margin-bottom: 20px;
outline: none;
box-shadow: 0 10px blue 
    
}
.imagentexto1{
display: flex;
align-items: center;
padding-bottom: 50px;
}
.imagentexto1 p{
 font-size: 45px;
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imagentexto1 img{
width: 20%;
padding: 4px;
background-color: rgb(224, 5, 5);
}
a{
color: rgb(49, 6, 167);
 text-shadow:   -1px -1px 0 rgb(16, 233, 113),
 1px -1px 0 rgb(10, 172, 4),
 -1px 1px 0 rgb(13, 160, 8),
 1px 1px 0 rgb(48, 131, 10);
}